.navBar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #E2E8F0;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navBar input {
  padding-left: 30px;
  font-family: FontAwesome;
}

.navHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}
.navHome p{
  margin-left: 10px;
}