.newsContainer {
    width: 90%;
    margin: auto;
    font-family:'Montserrat', sans-serif;
}

.tabList button {
    font-size: 1rem;
    font-weight: 700;
    color: #999999;
}

.middileTab {
    position: relative;
}

.topTab {
    position: fixed;
    top: 57px;
    background: white;
    z-index: 10000;
    width: 90%;
}